.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-height: 640px; /* ограничиваем высоту под модалку */
  padding: 40px 40px 32px;
  border-radius: 40px;
}

.number {
  margin: 0 0 48px;
  text-align: center;
}

.title {
  margin: 0 0 12px;
}

.status {
  margin: 0 0 60px;
  color: #f2f2f3;
}

.statusDone {
  color: #0cc;
}

.compositionTitle {
  margin: 0 0 24px;
}

.ingredientsScroll {
  flex: 1 1 auto;
  min-height: 0;
  padding-right: 8px;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.iconWrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  padding: 2px;
  background: linear-gradient(70deg, #801ab2 0%, #4c4cff 70%);
  border-radius: 50%;
}

.icon {
  width: 100%;
  height: 100%;
  background-color: #131316;
  border-radius: 50%;
  object-fit: cover;
}

.itemName {
  flex: 1 1 auto;
  margin: 0;
}

.itemPrice {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
  column-gap: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.total {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.ingredientsScroll::-webkit-scrollbar {
  width: 8px;
}

.ingredientsScroll::-webkit-scrollbar-track {
  background: transparent;
}

.ingredientsScroll::-webkit-scrollbar-thumb {
  background-color: #2f2f37;
  border-radius: 4px;
}
