.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
  margin-right: -12px;
  padding-right: 12px;
  color: var(--text-primary-color);
}

.row {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 8px;
  min-height: 80px;
}

.handlePlaceholder {
  width: 24px;
  height: 24px;
  visibility: hidden;
}

.scrollArea {
  max-height: 464px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.totalBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 16px;
}

.priceGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  text-align: right;
}

.cell {
  width: 100%;
}

/* настройки стиля заглушек */

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
  padding: 16px 24px;
  color: var(--text-primary-color, #fff);
  background: var(--background-element);
}

.placeholder_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.placeholder_middle {
  border-radius: var(--common-border-radius-s);
}

.placeholder_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
