.wrapper {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.badge {
  display: grid;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  place-items: center;
}

.badgeImg {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;
  pointer-events: none;
}

.secondary {
  color: #8585ad;
}

.digitGlow {
  text-shadow:
    0 4px 32px rgb(51 51 255 / 50%),
    0 0 8px rgb(51 51 255 / 25%),
    0 0 16px rgb(51 51 255 / 20%),
    0 0 24px rgb(51 51 255 / 12%);
}
