.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
