.card {
  position: relative;
  width: 272px;
  height: 208px;
  text-align: center;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 4px;
  background-color: #131316;
  border-radius: 6px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 272px;
  height: 48px;
  color: #f2f2f3;
  background-color: #131316;
}

.counter {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
}
