.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  max-height: calc(100vh - 200px);
  padding-right: 8px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background: #2f2f37;
  border-radius: 4px;
}
