.header {
  background-color: var(--background);
}

.menu {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* всегда центр */
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: auto;
  justify-self: start;
  align-items: center;
}

.link {
  display: flex;
  color: var(--text-inactive-color);
  white-space: nowrap;
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-self: end;
  align-items: center;
  margin-left: 0;
}

.logo {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 0;
}
